/*
* Icon Syntax Instructions
* -----
* icon.star.active = the ".active" means that has more opacity.
* icon.star = it's the normal icon but with less transparency indicating it is not active.
* light = the icon is now white
* dark = the icon is now black
*/

.icon {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 1;
	background-clip: unset;
}

.icon.light {
	filter: invert(0);
}
.icon.dark {
	filter: invert(1);
}

/* -- star -- */
.icon.star {
	background-image: url('../media/common-icons/light/star.svg');
	opacity: 0.5;
}

.icon.star.active {
	background-image: url('../media/common-icons/light/star_fill.svg');
	opacity: 1;
}

/* -- more vert -- */
.icon.more_vert {
	background-image: url('../media/common-icons/light/more_vert.svg');
	opacity: 0.5;
}

.icon.more_vert.active {
	background-image: url('../media/common-icons/light/more_vert.svg');
	opacity: 1;
}

/* -- play -- */
.icon.play {
	background-image: url('../media/common-icons/light/play.svg');
	opacity: 0.5;
}

.icon.play.active {
	background-image: url('../media/common-icons/light/play.svg');
	opacity: 1;
}

/* -- pause -- */
.icon.pause {
	background-image: url('../media/common-icons/light/pause.svg');
	opacity: 0.5;
}

.icon.pause.active {
	background-image: url('../media/common-icons/light/pause.svg');
	opacity: 1;
}

/* -- skip-previous  -- */
.icon.skip-previous {
	background-image: url('../media/common-icons/light/skip-previous.svg');
	opacity: 0.5;
}

.icon.skip-previous.active {
	background-image: url('../media/common-icons/light/skip-previous.svg');
	opacity: 1;
}

/* -- skip-next  -- */
.icon.skip-next {
	background-image: url('../media/common-icons/light/skip-next.svg');
	opacity: 0.5;
}

.icon.skip-next.active {
	background-image: url('../media/common-icons/light/skip-next.svg');
	opacity: 1;
}

/* -- repeat  -- */
.icon.repeat {
	background-image: url('../media/common-icons/light/repeat.svg');
	opacity: 0.5;
}

.icon.repeat.active {
	background-image: url('../media/common-icons/light/repeat.svg');
	opacity: 1;
}

.icon.repeat.loop-queue,
.icon.repeat.active.loop-queue {
	background-image: url('../media/common-icons/light/repeat-one.svg');
}

/* -- shuffle  -- */
.icon.shuffle {
	background-image: url('../media/common-icons/light/shuffle.svg');
	opacity: 0.5;
}

.icon.shuffle.active {
	background-image: url('../media/common-icons/light/shuffle.svg');
	opacity: 1;
}

/* -- arrow_left  -- */
.icon.arrow_left {
	background-image: url('../media/common-icons/light/arrow_left.svg');
	opacity: 0.5;
}

.icon.arrow_left.active {
	background-image: url('../media/common-icons/light/arrow_left.svg');
	opacity: 1;
}

/* -- arrow_right  -- */
.icon.arrow_right {
	background-image: url('../media/common-icons/light/arrow_right.svg');
	opacity: 0.5;
}

.icon.arrow_right.active {
	background-image: url('../media/common-icons/light/arrow_right.svg');
	opacity: 1;
}

/* -- lyrics  -- */
.icon.lyrics {
	background-image: url('../media/common-icons/light/lyrics.svg');
	opacity: 0.5;
}

.icon.lyrics.active {
	background-image: url('../media/common-icons/light/lyrics.svg');
	opacity: 1;
}

/* -- list  -- */
.icon.list {
	background-image: url('../media/common-icons/light/list.svg');
	opacity: 0.5;
}

.icon.list.active {
	background-image: url('../media/common-icons/light/list.svg');
	opacity: 1;
}

/* -- home -- */
.icon.home {
	background-image: url('../media/common-icons/light/home.svg');
	opacity: 0.5;
}

.icon.home.active {
	background-image: url('../media/common-icons/light/home_fill.svg');
	opacity: 1;
}

/* -- search  -- */
.icon.search {
	background-image: url('../media/common-icons/light/search.svg');
	opacity: 0.5;
}

.icon.search.active {
	background-image: url('../media/common-icons/light/search.svg');
	opacity: 1;
}

/* -- music list  -- */
.icon.music_list {
	background-image: url('../media/common-icons/light/music_list.svg');
	opacity: 0.5;
}

.icon.music_list.active {
	background-image: url('../media/common-icons/light/music_list.svg');
	opacity: 1;
}

/* -- radio -- */
.icon.radio {
	background-image: url('../media/common-icons/light/radio_tower.svg');
	opacity: 0.5;
}

.icon.radio.active {
	background-image: url('../media/common-icons/light/radio_tower.svg');
	opacity: 1;
}

/* -- account -- */
.icon.account {
	background-image: var(--user-profile-pic);
	opacity: 0.5;
    width: 20px !important;
    height: 20px !important;
	border-radius: 100%;
	margin-bottom: 10%;
}

.icon.account.active {
	background-image: var(--user-profile-pic);
	width: 20px;
	height: 20px;
	opacity: 1;
}

/* -- add -- */
.icon.add {
	background-image: url('../media/common-icons/light/add.svg');
	opacity: 0.5;
}

.icon.add.active {
	background-image: url('../media/common-icons/light/add.svg');
	opacity: 1;
}
