@font-face {
	font-family: SystemUI;
	src: system-ui, -apple-system, BlinkMacSystemFont;
}

@font-face {
	font-family: SourGummy;
	src: url(./SourGummy/SourGummy-VariableFont.ttf);
}

@font-face {
	font-family: Fredoka;
	src: url(./Fredoka/Fredoka-Variable.ttf);
}

@font-face {
	font-family: Jersey10;
	src: url(./Jersey10/Jersey10.ttf);
}

@font-face {
	font-family: Outfit;
	src: url(./Outfit/Outfit.ttf);
}

@font-face {
	font-family: Quicksand;
	src: url(./Quicksand/Quicksand.ttf);
}

@font-face {
	font-family: SourceCodePro;
	src: url(./SourceCodePro/SourceCodePro.ttf);
}

@font-face {
	font-family: Inter;
	src: url(./Inter/Inter.ttf);
}

@font-face {
	font-family: Juxel;
	src: url(./additional/juxel.ttf);
}

@font-face {
	font-family: Minecraft;
	src: url(./additional/Minecraft.ttf);
}

@font-face {
	font-family: Barriecito;
	src: url(./Barriecito/Barriecito-Regular.ttf);
}

@font-face {
	font-family: InstrumentSans;
	src: url(./Instrument_Sans/InstrumentSans.ttf);
}

@font-face {
	font-family: InstrumentSerif;
	src: url(./Instrument_Serif/InstrumentSerif-Regular.ttf);
}