@font-face {
	font-family: SourGummy;
	src: url(./SourGummy/SourGummy-VariableFont.ttf);
}

@font-face {
	font-family: Fredoka;
	src: url(./Fredoka/Fredoka-Variable.ttf);
}

@font-face {
	font-family: Jersey10;
	src: url(./Jersey10/Jersey10.ttf);
}

@font-face {
	font-family: Outfit;
	src: url(./Outfit/Outfit.ttf);
}

@font-face {
	font-family: Quicksand;
	src: url(./Quicksand/Quicksand.ttf);
}

@font-face {
	font-family: SourceCodePro;
	src: url(./SourceCodePro/SourceCodePro.ttf);
}

@font-face {
	font-family: Inter;
	src: url(./Inter/Inter.ttf);
}
