<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-starl-intent" version="1.1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>StarlIntent</name>
    <description>receives shared YouTube/YouTube Music URLs and routes them to the starl player</description>
    <keywords>cordova,android,intent,share,youtube</keywords>

    <js-module src="www/StarlIntent.js" name="StarlIntent">
        <clobbers target="StarlIntent" />
    </js-module>

    <platform name="android">
        <!-- appear in the share sheet for plain-text shares (YouTube, YouTube Music, etc.) -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StarlIntent">
                <param name="android-package" value="com.everm4iva.starl.intent.StarlIntent" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/StarlIntent.java" target-dir="src/com/everm4iva/starl/intent" />
    </platform>
</plugin>
